@font-face {
  font-family: 'MyHand';
  src: url('/fonts/MyHand-Regular.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
  font-weight: 300; 
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500; 
}

$typography: (
    "headline": "MyHand",
    "body": "Roboto",
    "bodyMedium": "RobotoMedium",
);
$headline-size: (
    "h1": 72px,
    "h2": 56px,
    "h3": 40px,
    "h4": 36px,
    "h5": 28px,
    "h6": 24px,
);
$body-size: (
    "b1": 16px,
    "b2": 14px,
    "b3": 12px,
    "b4": 10px,
);

@each $name, $family in $typography {
    @if $name == "headline" {
        @each $size-name, $size in $headline-size {
            .#{$name}-#{$size-name} {
                font-family: $family;
                font-size: $size;
                font-weight: 500;
                line-height: 100%;
            }
        }
    } @else if $name == "body" {
        @each $size-name, $size in $body-size {
            .#{$name}-#{$size-name} {
                font-family: $family;
                font-size: $size;
            }
        }
    }
}