$sizes: (
    "xs": 4px,    
    "sm": 8px,
    "md": 16px,
    "lg": 24px,
    "xl": 32px,
    "2xl": 48px,
    "3xl": 64px,
    "4xl": 72px
);
$alignments: top, right, bottom, left;
$properties: (
    "margin": "mr",
    "padding": "pad",
    "border-radius": "br",
    "gap": "gap"
);

@each $property, $class in $properties {
    @each $size, $number in $sizes {
        .#{$class}-#{$size} {
            #{$property}: $number;
        }
        @if $property != "border-radius" {
            @each $alignment in $alignments {
                .#{$class}-#{$alignment}-#{$size} {
                    #{$property}-#{$alignment}: $number;
                }
            }
        }
    }
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

$alignments: center, flex-start, flex-end, space-between;
$properties: (
    "align-items": "align",
    "justify-content": "justify",
);

@each $property, $class in $properties {
    @each $alignment in $alignments {
        @if $property != align-items and $alignment != space-between {
            .#{$class}-#{$alignment} {
                display: flex;
                #{$property}: $alignment;
            }
        }
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center; 
    justify-content: center;
    gap: 16px;
}

$flex-number: (
    "3",
    "4",
);

@each $number in $flex-number {
    .flex-#{$number}-item {
         width: calc((100% - (16px * calc(#{$number} - 1))) / #{$number});
    }
}



